body {
	background-color: #F8F7F7;
    background: -moz-linear-gradient(center top , #FFFFFF, #ECE9E9) no-repeat scroll 0 0 #ECE9E9;
    color: #555555;
    font: 13px "Helvetica Neue","Lucida Grande","Arial";
    margin: 0;
}

h1, h2, h3 {
    color: #343434;
    font-size: 22px;
    margin: 0;
}

h1 em, h2 em {
    font-weight: normal;
    padding: 0 5px;
}

h1 {
    font-size: 60px;
}

h2 {
    margin-top: 10px;
}

h3 {
    font-size: 18px;
    margin: 5px 0 10px;
    padding-bottom: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
}

a {
    color: #555555;
    text-decoration: none;
}

a:hover {
    color: #303030;
}

canvas {
	background: none repeat scroll 0 0 #FFFFFF;
	cursor: pointer;
	border: 1px solid #EEEEEE;
}

#wrapper {
	margin: 100px auto 0;
    width: 960px;
    min-height: 400px;
}

#wrapper h1.logo {
	letter-spacing: -6px;
}

#sub-headline {
	border-bottom: 1px solid #EEEEEE;
	height: 30px;
    margin-bottom: 20px;
}


#sub-headline h3 span {
	display: inline;
    font-size: 14px;
    font-weight: normal;
    margin-left: 20px;
}

#sub-headline ul#controls {
	float: right;
	clear: both;
}

#sub-headline ul#controls li {
	list-style: none;
	list-style-type: none;
	float: left;
	margin-left: 15px;
}