extends ../layouts/main_layout

block styles
	link(rel="stylesheet", href="/stylesheets/account.css")
	
block main-list	
	h3  - Welcome to loungebylounge.com
	span#players-online No players online.
					
	ul#menu
		li#create-game
			a(href="#") Account

block content
	