!!! 5
html(lang="en")
	head
		title= title
		meta(charset="UTF-8")
		meta(name="viewport")
		link(rel="stylesheet", href="/stylesheets/style.css")
	body!= body
<<<<<<< HEAD
<<<<<<< HEAD
		script(src="http://www.loungebylounge.com/nowjs/now.js")
=======
		script(src="http://127.0.0.1:1337/nowjs/now.js")
>>>>>>> 6afefaade307f06699f0630b1ff35aca3859e9cf
=======
		script(src="http://www.loungebylounge.com/nowjs/now.js")
>>>>>>> 5b06b9eb769e1a4af1dc9f86d366b5e61243b78d
		script(src="/javascripts/json2.js")
		script(src="/javascripts/jquery.js")
		script(src="/javascripts/client.js")
		
