!!! 5
html(lang="en")
	head
		title= title
		meta(charset="UTF-8")
		meta(name="viewport")
		link(rel="stylesheet", href="/stylesheets/style.css")
	body!= body
		script(src="http://www.loungebylounge.com/nowjs/now.js")
		script(src="/javascripts/json2.js")
		script(src="/javascripts/jquery.js")
		script(src="/javascripts/client.js")
		
