!!! 5
html(lang="en")
	head
		title= title
		meta(charset="UTF-8")
		meta(name="viewport")
		link(rel="stylesheet", href="/stylesheets/main.css")
		link(rel="stylesheet", href="/stylesheets/lobby.css")
		link(rel="stylesheet", href="/stylesheets/game.css")
		block styles
	body
		div#wrapper
			h1#logo loungebyloungé
		
			div#main-list
				block main-list
			
			div#content
				block content
			
		script(src="http://127.0.0.1:1337/nowjs/now.js")
		script(src="/javascripts/json2.js")
		script(src="/javascripts/jquery.js")
		script(src="/javascripts/jquery-ui.js")
		script(src="/javascripts/main.js")
		script(src="/javascripts/lobby.js")
		script(src="/javascripts/game.js")
		block scripts
		
