!!! 5
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport")
		title= "title"
		style(href="/stylesheets/style.css")
	body
		div#wrapper
			h1 pfft! n00b
			div#sub_headline
				h3 
					em - 404 osv…		
		