extends layouts/main_layout
	
block main-list	
	h3  - Welcome to loungebylounge.com
	span#players-online No players online.
					
	ul#menu
		li#sign-in
			a(href="#") sign in
			div#sign-in-box
				input#nickname
				span#sign-in sign in

block content
	div.canvas-thumb
	div.canvas-thumb
	div.canvas-thumb
	div.canvas-thumb.last
	div.canvas-thumb
	div.canvas-thumb
	div.canvas-thumb
	div.canvas-thumb.last