extends layouts/main_layout
	
block main-list	
	h3  - Welcome to loungebylounge.com
	span#players-online No players online.
					
	ul#menu
		li#sign-in
			a(href="#") sign in
			div#sign-in-box
				input#nickname
				span#sign-in sign in

block content
	each canvas, i in canvases
		if i+1 == 4 || i+1 == 8
			img.canvas-thumb.last(src= "/gallery/" + canvas)
		else
			img.canvas-thumb(src= "/gallery/" + canvas)