div#wrapper
	h1.logo loungebyloungé
	div#sub-headline
		h3 
			em - Welcome to loungebylounge.com
			span People online (1)
			
			ul#controls
				li#clear 
					a(href="#") clear
				li#color 
					a(href="#") color
				
	canvas#canvas(width="960px", height="400px")
			
		