div#content

	
	div#online-list
		span.topic Online
		ul
				
	div#player-drop
		div#drop Drop players here
		
		span#send-invitation send invitation
		span#start-game start game
	
	div#wait-list
		span.topic Online
		ul
	