div#main-list
	h2#current-status Waiting for opponent...
		
	
	h3  - Welcome to loungebylounge.com
	span#game-state 
					
	ul#menu
		li#play
			a(href="#") play
		li#clear 
			a(href="#") clear
		li#tools 
			a(href="#") tools
			div#tools-holder
				ul
					li#brush
					li#pencil
		li#color 
			a(href="#") color
			div#color-holder
				canvas#color-picker(width="135px", height="135px")
				div#preview
				div#foreground
				div#background